{% extends "app_core/partials/base.html" %}
{% load static %}

{% block title %}{{view.object|default_if_none:"Novo" }} Colaborador{% endblock %}
{% block page_title %}Colaboradores{% endblock %}

{% block breadcrumb %}
  <a href="{% url 'app_core:home' %}">Início</a> ›
  <a href="{% url 'app_colaboradores:lista' %}">Colaboradores</a> ›
  {{ view.object|yesno:"Editar,Novo" }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_colaboradores/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h2>{% if view.object %}Editar{% else %}Novo{% endif %} Colaborador</h2>
  </div>
  <div class="card-body">
    <form method="post" class="form-grid">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="grid-2">
        <div class="form-control">
          <label>Nome</label>
          {{ form.nome }} {{ form.nome.errors }}
        </div>
        <div class="form-control">
          <label>E-mail</label>
          {{ form.email }} {{ form.email.errors }}
        </div>
        <div class="form-control">
          <label>Matrícula</label>
          {{ form.matricula }} {{ form.matricula.errors }}
        </div>
        <div class="form-control">
          <label>Cargo</label>
          {{ form.cargo }}
        </div>
        <div class="form-control">
          <label>Setor</label>
          {{ form.setor }}
        </div>
        <div class="form-control">
          <label>Telefone</label>
          {{ form.telefone }}
        </div>
        <div class="form-control">
          <span class="form-control-span">Ativo?</span>
          <label>Status</label>
          {{ form.ativo }}
        </div>
      </div>
      <div class="actions">
        <a class="btn outline" href="{% url 'app_colaboradores:lista' %}">Cancelar</a>
        <button class="btn" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'app_colaboradores/js/main.js' %}"></script>
{% endblock %}