{% extends "app_core/partials/base.html" %}
{% load static %}
{% block title %}Entrar{%  endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app_colaboradores/css/app.css' %}">
{% endblock %}
{% block content %}
<div class="card narrow">
  <div class="card-header">
    <h2>Entrar</h2>
  </div>
  <div class="card-body">
    <form method="post" class="form-grid">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="form-control">
        <label>Usuário</label>
        {{ form.username }} {{ form.username.errors }}
      </div>
      <div class="form-control">
        <label>Senha</label>
        {{ form.password }} {{ form.password.errors }}
      </div>
      <div class="actions">
        <button class="btn" type="submit">Entrar</button>
        <a class="btn outline" href="{% url 'app_colaboradores:registrar' %}"
          >Criar conta</a
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
