{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Sistema EPI{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app_core/css/main.css' %}?v=h2" />
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <header>
      <h1 class="site-title">Sistema EPI</h1>
      <nav class="nav">
        <a href="{% url 'app_core:home' %}">Início</a>
        <a href="{% url 'app_colaboradores:lista' %}">Colaboradores</a>
        <a href="{% url 'app_epis:lista' %}">EPIs</a>
        <a href="{% url 'app_entregas:lista' %}">Entregas</a>
        <a href="{% url 'app_relatorios:index' %}">Relatórios</a>
      </nav>
    </header>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {{ message.tags }}">
        <span>{{ message }}</span>
        <button
          type="button"
          class="close"
          aria-label="Fechar"
          onclick="this.parentElement.remove()"
        >
          ×
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <section class="pagebar">
      <h2>{% block page_title %}{% endblock %}</h2>
      <div class="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
    </section>

    <main>{% block content %}{% endblock %}</main>

    <script src="{% static 'app_core/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <footer class="footer">
      <div class="container">
        <small>© 2025 — Sistema de Controle de EPI</small>
      </div>
    </footer>
  </body>
</html>
