{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Sistema EPI{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'app_core/css/main.css' %}">
</head>
<body>
  <header>
    <h1 class="site-title">Sistema EPI</h1>
    <nav><!-- menu futuro --></nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="{% static 'app_core/js/main.js' %}"></script>
</body>
</html>
